<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=1024, initial-scale=1.0" />
  <title>Chicken Engine - {{title}}</title>
  <meta property="og:image" content="https://chicken-engine.github.io/website/logo.png">
  <link rel="icon" type="image/x-icon" href="../../icon.png">
  <link href="https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../../scripts/mediaplayer.css">
  <link rel="stylesheet" href="../../scripts/blogbase.css">
</head>
<body>

  <headerr></headerr>
  <script class="headerr" src="../../scripts/header.js"></script>

  <section class="blog-post">
    <h1>{{title}}</h1>
    <p><strong>Date:</strong> {{date}}</p>

    <p><strong>Written By:</strong> {{writer}}</p>   {{content}}
  </section>

  <footerr></footerr>
  <script src="../../scripts/footer.js"></script>

  <script src="../../scripts/blogbase.js"></script>

  <script src="../../scripts/mediaplayer.js"></script>
  </body>
  </html>
</div>