footer
{
    background: #9ab1f0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #AEC1F6;
}

footer img
{
    height: 30px;
}

.footer-socials img
{
    filter: brightness(1000%);
}

footer a
{
    transition: 0.1s;
}

footer a:hover
{
    transition: 0.1s;
    filter: brightness(85%);
}